html {
    font-size: 100%;
    /*reader can adjust font size themselves*/
    box-sizing: border-box;
    /*element padding does not add width*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
    background-color: #444;
    color: #fffff8;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-template-rows: 150px 600px 600px 600px 100px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "main main main main main main sd sd"
        "ab ab ab ab ab ab ab ab"
        "tp tp tp tp tp tp tp tp"
        "ft ft ft ft ft ft ft ft";
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

#header {
    grid-area: hd;
}

#main {
    grid-area: main;
}

#sidebar {
    grid-area: sd;
}

#about {
    grid-area: ab;
}

#topics {
    grid-area: tp;
}

#footer {
    grid-area: ft;
}